Checks: '-*,modernize-*,readability-*,performance-*,bugprone-*,clang-analyzer-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key: readability-simplify-boolean-expr.IgnoreMacros
    value: true